<hibernate-configuration>
    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Anu@9382</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property> <!--it helps to see the actual sql query-->

        <!--this two property helps to enable the second level cache-->
        <!--
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        -->

        <!--To use Query we need to enable it -->
        <property name="hibernate.cache.use_query_cache">true</property>

        <!--HIBERNATE CREATES A TABLE-->
         <mapping class="org.example.New_Alien"/>

    </session-factory>
</hibernate-configuration>
